USE [master]
GO
/****** Object:  Database [TP06]    Script Date: 20/8/2025 08:57:20 ******/
CREATE DATABASE [TP06]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP06', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TP06.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP06_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TP06_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP06].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP06]
GO
/****** Object:  User [alumno]    Script Date: 20/8/2025 08:57:20 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Tareas]    Script Date: 20/8/2025 08:57:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tareas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](50) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Finalizado] [bit] NOT NULL,
	[IdU] [int] NOT NULL,
 CONSTRAINT [PK_Tareas] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 20/8/2025 08:57:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[UltimoLogin] [datetime] NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Foto] [varchar](50) NULL,
	[UserName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tareas] ON 

INSERT [dbo].[Tareas] ([ID], [Titulo], [Descripcion], [Fecha], [Finalizado], [IdU]) VALUES (1, N'fofy', N'aaaa', CAST(N'2026-04-12T00:00:00.000' AS DateTime), 1, 5)
INSERT [dbo].[Tareas] ([ID], [Titulo], [Descripcion], [Fecha], [Finalizado], [IdU]) VALUES (2, N'a', N'a', CAST(N'2026-11-11T00:00:00.000' AS DateTime), 1, 5)
INSERT [dbo].[Tareas] ([ID], [Titulo], [Descripcion], [Fecha], [Finalizado], [IdU]) VALUES (3, N'a', N'1234', CAST(N'2026-11-11T00:00:00.000' AS DateTime), 1, 5)
SET IDENTITY_INSERT [dbo].[Tareas] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([ID], [Nombre], [Apellido], [UltimoLogin], [Password], [Foto], [UserName]) VALUES (1, N'C', N'j', CAST(N'2025-08-14T13:35:54.757' AS DateTime), N'1234', NULL, N'Alan')
INSERT [dbo].[Usuarios] ([ID], [Nombre], [Apellido], [UltimoLogin], [Password], [Foto], [UserName]) VALUES (2, N'C', N'j', CAST(N'2025-08-14T13:43:01.143' AS DateTime), N'1234', NULL, N'Alan')
INSERT [dbo].[Usuarios] ([ID], [Nombre], [Apellido], [UltimoLogin], [Password], [Foto], [UserName]) VALUES (3, N'C', N'j', CAST(N'2025-08-14T13:43:35.307' AS DateTime), N'1234', NULL, N'Alan')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[Tareas]  WITH CHECK ADD  CONSTRAINT [FK_Tareas_Usuarios] FOREIGN KEY([IdU])
REFERENCES [dbo].[Usuarios] ([ID])
GO
ALTER TABLE [dbo].[Tareas] CHECK CONSTRAINT [FK_Tareas_Usuarios]
GO
USE [master]
GO
